body {
  margin: 0;
}
.btn-nav {
  position: relative;
}
.btn-nav::after {
  content: '';
  width: 0%;
  background: white;
  height: 2px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transition: all .3s ease;
}
.btn-nav:hover::after {
  left: 0%;
  width: 100%;
  opacity: 1;
}

#font {
  font-family: 'Great Vibes', cursive;
}
#landing {
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  height: 100vh;
  width: 100%;
}
#main-landing{
  margin-top: 140px;
}
#social-media a {
  width: 25px;
  height: 25px;
  padding: 0;
}
#social-media a img {
  width: 25px;
  height: 25px;
  padding: 0;
}
@media (max-width: 991px) {
  #main-landing {
    margin: 60px;
  }
}
